Repository rajadilipkolli/spring-boot-microservices-series-v2, changes with the labels that .github/labeler.yml gives for each.
All labels: component : api-gateway, component : catalog-service, component : config-server, component : inventory-service, component : order-service, component : payment-service, component : service-registry, component : webapp, component : gatling-tests, Documentation, type : dependency-upgrade

Update documentation
  ReadMe.md
  images/gatewayArchitecture.JPG
  images/microservicesArchitecture.png
Labels: none

Update ReadMe.md fixing rendering of images
  ReadMe.md
Labels: none

Update ReadMe.md
  ReadMe.md
Labels: none

Update pom.xml
  inventory-service/pom.xml
Labels: component : inventory-service, type : dependency-upgrade

feat : removes deprecated configuration
  api-gateway/pom.xml
  api-gateway/src/main/resources/application.yml
  api-gateway/src/test/java/com/example/api/gateway/config/ContainerConfig.java
Labels: component : api-gateway, type : dependency-upgrade

feat : enhance ratelimiter and adds correlationId filter
  api-gateway/src/main/java/com/example/api/gateway/config/RateLimiterConfiguration.java
  api-gateway/src/main/java/com/example/api/gateway/config/SwaggerConfig.java
  api-gateway/src/main/java/com/example/api/gateway/filter/CorrelationIdGatewayFilterFactory.java
  api-gateway/src/main/java/com/example/api/gateway/filter/LoggingFilter.java
Labels: component : api-gateway

minor polish
  catalog-service/src/main/java/com/example/catalogservice/config/ApplicationProperties.java
  catalog-service/src/main/java/com/example/catalogservice/config/Initializer.java
  catalog-service/src/main/java/com/example/catalogservice/config/WebClientConfiguration.java
  catalog-service/src/main/java/com/example/catalogservice/config/WebFluxConfig.java
Labels: component : catalog-service

adds test cases
  api-gateway/src/test/java/com/example/api/gateway/filter/CorrelationIdFilterIntegrationTest.java
  api-gateway/src/test/java/com/example/api/gateway/filter/LoggingFilterIntegrationTest.java
  api-gateway/src/test/resources/com/example/api/gateway/filter/CorrelationIdFilterIntegrationTest/correlation-test.json
  api-gateway/src/test/resources/com/example/api/gateway/filter/LoggingFilterIntegrationTest/logging-test.json
Labels: component : api-gateway

move to replacement keys
  api-gateway/src/test/java/com/example/api/gateway/config/ApiGatewayConfigurationIntegrationTest.java
  api-gateway/src/test/java/com/example/api/gateway/config/RateLimiterConfigurationIntegrationTest.java
  api-gateway/src/test/java/com/example/api/gateway/filter/CorrelationIdFilterIntegrationTest.java
  api-gateway/src/test/java/com/example/api/gateway/filter/LoggingFilterIntegrationTest.java
Labels: component : api-gateway

feat : enhance ratelimiter and adds correlationId filter (#1116)
  api-gateway/src/main/java/com/example/api/gateway/config/RateLimiterConfiguration.java
  api-gateway/src/main/java/com/example/api/gateway/config/SwaggerConfig.java
  api-gateway/src/main/java/com/example/api/gateway/filter/CorrelationIdGatewayFilterFactory.java
  api-gateway/src/main/java/com/example/api/gateway/filter/LoggingFilter.java
  api-gateway/src/test/java/com/example/api/gateway/config/ApiGatewayConfigurationIntegrationTest.java
  api-gateway/src/test/java/com/example/api/gateway/config/RateLimiterConfigurationIntegrationTest.java
  api-gateway/src/test/java/com/example/api/gateway/filter/CorrelationIdFilterIntegrationTest.java
  api-gateway/src/test/java/com/example/api/gateway/filter/LoggingFilterIntegrationTest.java
  api-gateway/src/test/resources/com/example/api/gateway/filter/CorrelationIdFilterIntegrationTest/correlation-test.json
  api-gateway/src/test/resources/com/example/api/gateway/filter/LoggingFilterIntegrationTest/logging-test.json
Labels: component : api-gateway

fix: update login link to redirect to /login instead of OAuth2 author… (#1084)
  retail-store-webapp/src/main/java/com/example/retailstore/webapp/config/GlobalExceptionHandler.java
  retail-store-webapp/src/main/java/com/example/retailstore/webapp/config/SecurityConfig.java
  retail-store-webapp/src/main/java/com/example/retailstore/webapp/config/SecurityConstants.java
  retail-store-webapp/src/main/java/com/example/retailstore/webapp/config/WebConfig.java
  retail-store-webapp/src/main/java/com/example/retailstore/webapp/exception/GlobalExceptionHandler.java
  retail-store-webapp/src/main/java/com/example/retailstore/webapp/exception/InvalidRequestException.java
  retail-store-webapp/src/main/java/com/example/retailstore/webapp/exception/ResourceNotFoundException.java
  retail-store-webapp/src/main/java/com/example/retailstore/webapp/web/controller/InventoryController.java
  retail-store-webapp/src/main/java/com/example/retailstore/webapp/web/controller/OrderController.java
  retail-store-webapp/src/main/java/com/example/retailstore/webapp/web/controller/ProductController.java
  retail-store-webapp/src/test/java/com/example/retailstore/webapp/common/AbstractIntegrationTest.java
  retail-store-webapp/src/test/java/com/example/retailstore/webapp/config/TestSecurityConfig.java
  retail-store-webapp/src/test/java/com/example/retailstore/webapp/exception/GlobalExceptionHandlerTest.java
  retail-store-webapp/src/test/java/com/example/retailstore/webapp/web/controller/InventoryControllerTest.java
  retail-store-webapp/src/test/java/com/example/retailstore/webapp/web/controller/OrderControllerTest.java
  retail-store-webapp/src/test/java/com/example/retailstore/webapp/web/controller/ProductControllerTest.java
  retail-store-webapp/src/test/java/com/example/retailstore/webapp/web/controller/RegistrationControllerIT.java
  retail-store-webapp/src/test/java/com/example/retailstore/webapp/web/controller/RegistrationControllerTest.java
Labels: component : webapp

fix issue with aot compiling
  config-server/pom.xml
Labels: component : config-server, type : dependency-upgrade

Update pom.xml
  config-server/pom.xml
Labels: component : config-server, type : dependency-upgrade

disable refresh
  catalog-service/src/main/resources/application.properties
Labels: component : catalog-service

enable image build
  .github/workflows/catalog-service.yml
Labels: none

Update application.properties
  catalog-service/src/main/resources/application.properties
Labels: component : catalog-service

change builder
  config-server/pom.xml
Labels: component : config-server, type : dependency-upgrade

.github/labeler.yml:

"component : api-gateway":
  - changed-files:
      - any-glob-to-any-file: 'api-gateway/**/*'
"component : catalog-service":
  - changed-files:
      - any-glob-to-any-file: 'catalog-service/**/*'
"component : config-server":
  - changed-files:
      - any-glob-to-any-file: 'config-server/**/*'
"component : inventory-service":
  - changed-files:
      - any-glob-to-any-file: 'inventory-service/**/*'
"component : order-service":
  - changed-files:
      - any-glob-to-any-file: 'order-service/**/*'
"component : payment-service":
  - changed-files:
      - any-glob-to-any-file: 'payment-service/**/*'
"component : service-registry":
  - changed-files:
      - any-glob-to-any-file: 'service-registry/**/*'
"component : webapp":
  - changed-files:
      - any-glob-to-any-file: 'retail-store-webapp/**/*'
"component : gatling-tests":
  - changed-files:
      - any-glob-to-any-file: 'gatling-tests/**/*'
Documentation:
  - changed-files:
      - any-glob-to-any-file: 'docs/**/*'
"type : dependency-upgrade":
  - changed-files:
      - any-glob-to-any-file:
          - api-gateway/pom.xml
          - catalog-service/pom.xml
          - config-server/pom.xml
          - inventory-service/pom.xml
          - order-service/pom.xml
          - payment-service/pom.xml
          - service-registry/pom.xml
          - gatling-tests/pom.xml
          - retail-store-webapp/pom.xml
