Repository rajadilipkolli/spring-boot-microservices-series-v2, pull requests merged in 2023-10, with the labels that each got.

#553 Issue - #551 | removed publish tag from pom.xmls and corrected port n…
  catalog-service/docker/docker-compose.yml
  catalog-service/pom.xml
  config-server/pom.xml
  inventory-service/pom.xml
  payment-service/pom.xml
Labels: component : catalog-service, type: dependency-upgrade, component : inventory-service, component : config-server, component : payment-service

#556 feat : remove zookeeper
  inventory-service/docker/docker-compose-app.yml
  inventory-service/docker/docker-compose.yml
Labels: component : inventory-service

#557 fix: issue with connecting to inventory service
  catalog-service/docker/docker-compose.yml
  order-service/docker/docker-compose.yml
  payment-service/docker/docker-compose.yml
Labels: component : catalog-service, component : payment-service, component : order-service

#555 554 update readme files of individual projects to run independently
  .devcontainer/devcontainer.json
  ReadMe.md
  api-gateway/ReadMe.md
  catalog-service/README.md
  catalog-service/docker/docker-compose-app.yml
  catalog-service/docker/docker-compose.yml
  catalog-service/src/main/resources/application-local.properties
  inventory-service/README.md
  order-service/README.md
  payment-service/README.md
Labels: component : catalog-service, component : inventory-service, component : payment-service, component : api-gateway, component : order-service

#564 Issue: #559 Enable Test Containers
  inventory-service/README.md
  inventory-service/src/test/java/com/example/inventoryservice/TestInventoryApplication.java
  inventory-service/src/test/java/com/example/inventoryservice/common/AbstractIntegrationTest.java
  inventory-service/src/test/java/com/example/inventoryservice/config/MyContainers.java
  inventory-service/src/test/java/com/example/inventoryservice/config/MyPostGreSQLContainer.java
  inventory-service/src/test/java/com/example/inventoryservice/repositories/InventoryRepositoryTest.java
Labels: component : inventory-service

#567 Issue #547 read operations - JOOQ
  inventory-service/README.md
  inventory-service/pom.xml
  inventory-service/src/main/java/com/example/inventoryservice/repositories/InventoryJOOQRepository.java
  inventory-service/src/main/java/com/example/inventoryservice/repositories/InventoryJOOQRepositoryImpl.java
  inventory-service/src/main/java/com/example/inventoryservice/repositories/InventoryRepository.java
  inventory-service/src/main/java/com/example/inventoryservice/services/InventoryOrderManageService.java
  inventory-service/src/main/java/com/example/inventoryservice/services/InventoryService.java
  inventory-service/src/test/java/com/example/inventoryservice/repositories/InventoryRepositoryTest.java
  inventory-service/src/test/java/com/example/inventoryservice/services/InventoryOrderManageServiceTest.java
Labels: type: dependency-upgrade, component : inventory-service
